<div class="card show">
  <%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", class: "left small" %>
  <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}/", method: :delete, class: "right small" %><br>
  <p class="small">Name: <%= @shelter.name %></p>
  <p class="small">Address: <%= @shelter.address %></p>
  <p class="small">City: <%= @shelter.city %></p>
  <p class="small">State: <%= @shelter.state %></p>
  <p class="small">Zip: <%= @shelter.zip %></p><br>
  <p class="small">Count of Pets: <%= @shelter.pet_count %></p>
  <p class="small">Average Review Rating: <%= @shelter.average_review_rating.round(1) %></p>
  <p class="small">Number of Applicants: <%= @shelter.applicant_count %></p>
  <%= link_to("View this shelter's pets", "/shelters/#{@shelter.id}/pets", class: "name") %>
  <%= link_to 'New Review', "/shelters/#{@shelter.id}/reviews/new", class: "right name"%><br><br>
</div>

<h1 class="bigger review">Reviews</h1>
<% @shelter.reviews.each do |review| %>
  <div class="card review" id="review-<%= review.id %>">
    <% if review.image %>
    <% unless review.image == '' %>
    <p><%= image_tag(review.image) %></p><br>
    <% end %>
    <% end %>
    <h3><%= review.title %></h3>
    <p>Rating: <%= review.rating %></p>
    <p>Content: <%= review.content %></p>
    <%= link_to("Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit") %>
    <%= link_to 'Delete Review', "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %>
  </div>
<% end %>
