<%= link_to 'Apply for Pets', "/applications/new", class: "left" %>
<%= link_to 'Remove All Favorited Pets', "/all_favorites/", method: :delete, class: "right" %><br><br>
<% @pets.each do |pet| %>
  <div class="card" id="pet-<%= pet.id %>">
    <%= link_to 'Remove from Favorites', "/favorites/#{pet.id}", method: :delete, class: "right small" %><br>
    <h3>Name: <%= link_to(pet.name, "pets/#{pet.id}", class: "big name") %></h3>
    <p><%= image_tag(pet.image) %></p>
  </div>
<% end %>
<%= "You have no favorited pets." if @pets.empty? %>
<p>
<section class="card across bigger"><br>
  Pets with Applications
  <div id="pets-with-applications">
    <ul>
      <% @pets_with_applications.each do |pet| %>
        <li><%= link_to pet.name, "/pets/#{pet.id}", class: :small %></li>
      <% end %>
    </ul>
  </div>
</section>
</p>
