<h1>New Application Form</h1>
<%= form_tag("/applications") do %>
<% @pets.each do |pet| %>
  <p><%= check_box_tag "pet_id-#{pet.id}", "#{pet.id}" %>
  <%= pet.name %></p>
<% end %>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br><br>
  <%= label_tag :address %><br>
  <%= text_field_tag :address %><br><br>
  <%= label_tag :city %><br>
  <%= text_field_tag :city %><br><br>
  <%= label_tag :state %><br>
  <%= text_field_tag :state %><br><br>
  <%= label_tag :zip %><br>
  <%= text_field_tag :zip %><br><br>
  <%= label_tag :phone_number %><br>
  <%= text_field_tag :phone_number %><br><br>
  <%= label_tag :description %>: Why would you make a good home?<br>
  <%= text_area_tag :description %><br><br>
  <%= submit_tag "Submit Application" %>
<% end %>
