<h1>Application Info</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Phone Number: <%= @application.phone_number %></p>
<p>Description: <%= @application.description %></p><br>

<p>Pets On Application:</p>
<% @application.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <%= link_to(pet.name, "/pets/#{pet.id}") %>
    <% if pet.status == "Adoptable" %>
      - <%= link_to("Approve Application", "/applications/#{@application.id}/pets/#{pet.id}?approval=approve", method: :patch) %>
    <% elsif pet.status == "Pending" %>
      - Pending Adoption
      <% if @application.approved_for_pet(pet) %>
        - <%= link_to("Cancel Approval", "/applications/#{@application.id}/pets/#{pet.id}?approval=cancel", method: :patch) %>
      <% end %>
    <% end %>
  </section>
<% end %>
