<div class="content">
  <div class="card show pet">
    <%= image_tag(@pet.image) %>
    <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit", class: "left small" %>
    <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete, class: "right small" %><br>
    <%= link_to 'Add to Favorites', "/favorites/#{@pet.id}", method: :patch, class: "right small" %><br>
    <p>Name: <%= @pet.name %></p>
    <p>Description: <%= @pet.description %></p>
    <p>Age: <%= @pet.age %></p>
    <p>Sex: <%= @pet.sex %></p>
    <p>Status: <%= @pet.status %></p><br><br>
  </div>
</div>
